*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
border: 0;
outline: 0;
}

/* ---------------header--------------- */
#head {
    height:740px;
    width: 100%;
    background-image: url("../image/bg-masthead.jpg");
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    
}
#head > h1 {
    color: white;
    font-size: 3.5rem;
    padding-top: 220px;
}
#head > p {
    color: white;
    font-size: 20px;
    margin: 40px 0px;
}
#head > button {
    color: white;
    font-size: 20px;
    background-color: #F4623A;
    padding: 20px 40px;
    border-radius: 40px;
    
}

/* ---------------information--------------- */
.information{
height: 450px;
background-color: #F4623A;
text-align: center;
padding: 100px 0px;
color: white;
}
.information >h2{
font-size: 35px;

}
.information > p{
margin: 40px;
font-size: 20px;
}
.information > button{
padding: 20px 40px;
border-radius: 40px;
font-weight: bold;

}